/* Iconos del Boton de apagado y encendido */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xqyof2');
    src:  url('../fonts/icomoon.eot?xqyof2#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?xqyof2') format('truetype'),
      url('../fonts/icomoon.woff?xqyof2') format('woff'),
      url('../fonts/icomoon.svg?xqyof2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-toggle-on:before {
    content: "\e900";
  }
  .icon-toggle-off:before {
    content: "\e901";
  }
  
/* Estilos del Hyperblog */
body
{
    color: #333;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    
}




#cabecera
{
    background: #33A;
    color:white;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: auto;
    position: relative;
    height: 80vh;
    width: 70vw;
   
   
}
.container-dark{
    background-color: rgb(30, 35, 71);
    color: white;
}

#container h1
{
    font-size: 20px;

}
#post
{
    padding: 1em;
}
#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    width: 70vw;
    left: 0;
    bottom: 0;
    
}


/* Estilos para el boton light y dark */
.light-mode, .dark-mode{
    font-size: 1.5em;
    position: fixed;
    z-index: 98;
    right: 16%;
    cursor: pointer;
    color: rgb(59, 158, 175);
    transition: all 400ms ease-in;
}

.dark-mode{
    display: none;
}

.dm-is-active{
    display: initial;
}

.lm-is-active{
    display: none;
}